body{
    background-color: black;
}

#title {
    font-size: 150px;
    color: red;
    font-family: monospace;
}

#subtitle {
    font-size: 25px;
    color: red;
    font-family: monospace;
}
