#title {
    font-size: 65px;
    font-family: monospace;
    color: red;
    background-color: black;
}

#sub-title {
    font-size: 35px;
    font-family: monospace;
    color: red;
    background-color: black;
}

#parraf1 {
    font-size: 27.5px;
    font-family: monospace;
    color: red;
    background-color: black;
}

#parraf2 {
    font-size: 27.5px;
    font-family: monospace;
    color: red;
    background-color: black;
}

#parraf3 {
    font-size: 27.5px;
    font-family: monospace;
    color: red;
    background-color: black;
}

#project {
    font-size: 55px;
    font-family: monospace;
    color: red;
    background-color: black;
}

#parraf1description {
    font-size: 23.5px;
    font-family: monospace;
    color: red;
    background-color: black;
    margin-left: 45px;
}

#parraf2description {
    font-size: 22.5px;
    font-family: monospace;
    color: red;
    background-color: black;
    margin-left: 45px;
}

#parraf3description {
    font-size: 22.5px;
    font-family: monospace;
    color: red;
    background-color: black;
    margin-left: 45px;
}

#linkgame {
    font-size: 22.5px;
    font-family: monospace;
    color: red;
    background-color: black;
    margin-left: -500px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container > div {
  padding: 10px;
}

/*
  Usa un media query para hacer que el grid sea adaptable a dispositivos móviles
*/

@media (max-width:600px) {
  .grid-container {
    grid-template-columns: auto;
  }
}

body {
    background-color: black;
}
